<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>The textarea element</h1>
{{ greeting }}
<form action="/action_page.php">
<p><label for="w3review">Обзор W3Schools</label></p>
<textarea id="w3review" name="w3review" rows="5" cols="50">
  На w3schools.com вы узнаете, как сделать сайт. Они предлагают бесплатные учебные пособия по всем технологиям веб-разработки.
  </textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the
server called "action_page.php".</p>
{{ greeting }}
</body>
</html>